<link
  href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
  rel="stylesheet"
  id="bootstrap-css"
/>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
{% load static %}
<!------ Include the above in your HEAD tag ---------->

<div class="container">
  <div class="row">
    <div class="col-md-6 img">
      {% if profile.img %}
      <img src="{{profile.img.url}}" alt="" class="img-rounded" />
      {% else %}
      <img src="{% static 'home-static/img/no-profile' %}" alt="default-profile">
      {% endif %}
    </div>
    <div class="col-md-6 details">
      <blockquote>
        <h5>{{profile.user}}</h5>
        <p>
          {{profile.headline}}
        </p>
        <small
          ><cite title="Source Title"
            >{{profile.bio}}<i class="icon-map-marker"></i></cite
        ></small>
      </blockquote>
    </div>
  </div>
  <div class="row">
    <a href="{% url 'accounts:edit_profile' profile.slug %}">Edit Profile</a>
    <a href="{% url 'accounts:change_password' profile.slug %}"
      >Change Password</a
    >
  </div>
</div>
